@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Quicksand:wght@500&display=swap');

body {
  user-select: none;
  width: 200vh;
  height: 100%;
  background-color: #15181d;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 10px;
}

h1 {
  color: white;
  font-family: Montserrat;
}

.zoom-animation {
  animation: zoom-in-out 3s infinite;
}

.weight {
  font-weight: bold;
}

button {
  background-color: #f39251;
  font-family: Montserrat;
  padding: 7px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 50px;
}

button:hover {
  background-color: #ffc371;
  padding: 7px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 50px;
  animation: zoom-in-out 3s infinite;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.minigame {
  margin: 0 auto 20px;
  width: 1000px;
  height: 400px;
  background-color: #232832;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.slider {
  height: 270px;
  margin: auto;
  position: relative;
  width: 68%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(240px * 10);
}

.slide-animation {
  animation: scroll 0.4s linear infinite;
}

.slide-animation2 {
  animation: scroll 1s linear infinite;
}

.slide-animation3 {
  animation: scroll 2s linear infinite;
}

.slide {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  perspective: 140px;
}

img {
  width: 80%;
  height: 100px;
  background-color: #34475c;
  border-radius: 10px;
  transition: transform 1s;
}

.white-border {
  border: 3px solid white;
}

img:hover {
  transform: translateZ(20px);
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
}

/* GRADIENT SHADOWS */
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(35, 40, 50, 1) 0%,
    rgba(35, 40, 50, 0) 100%
  );
  content: '';
  height: 100%;
  position: absolute;
  width: 10%;
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
@keyframes scroll {
  0% {
    transform: translateZ(0);
  }

  100% {
    transform: translateX(calc(-250px * 5));
  }
}

.arrow {
  position: absolute;
  left: 50%;
  width: 1px;
  background-color: rgb(228, 251, 128);
  transform: translateX(-50%);
  height: 150px;
}

.blur {
  opacity: 0.05;
  filter: blur(70px);
}

.blur2 {
  filter: blur(30px);
}

.icon {
  width: 9vh;
  height: 9vh;
  margin-right: 10px;
}

.open {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hidden {
  opacity: 0;
}
